<br>
<br><br>
<br>

<div class="paragraph">
<p class="size">
    <b>Welcome to About Page..</b> <br>
    This webapp prints the text from screen using angular third party library called ngx-print Library.
    and fetches the text from the screen when scanning a qr code of that particular screen.

</p>
</div>

















<!-- <div>
    <h1>API Tester</h1>
  
    <form (ngSubmit)="submitForm()">
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" [(ngModel)]="url"><br><br>
  
      <label for="method">Method:</label>
      <select id="method" name="method" [(ngModel)]="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="DELETE">DELETE</option>
      </select><br><br>
  
      <label for="headers">Headers:</label>
      <input type="text" id="headers" name="headers" [(ngModel)]="headers"><br><br>
  
      <label for="body">Body:</label>
      <textarea id="body" name="body" [(ngModel)]="body"></textarea><br><br>
  
      <button type="submit">Submit</button>
    </form>
  
    <h2>Response:</h2>
  
    <pre>{{ response | json }}</pre>
  </div> -->



