<p>screen works!</p><br>

<div id="myprintId" >
<h1 id="heading"> Penske Corporation and it's Subsidiaries</h1>
<p id="paragraph"> <b>Penske Corporation, Inc. (/pɛn.skiː/)</b> is an American diversified transportation services company based in Bloomfield Township,
     Oakland County, Michigan. Roger Penske is the chairman of the privately held company, and Rob Kurnick is the president.
</p>

<p id="paragraph"> <b>Penske Truck Leasing Co., L.P. </b> a joint venture of Penske Corporation, Penske Automotive Group, and Mitsui & Co. Headquartered 
    in Reading, Pennsylvania, the company was founded by Team Penske owner Roger Penske on December 1, 1969. It is Penske’s flagship and 
    best known division. The firm serves customers in North America, South America, Europe, Asia, and Australia; among its services are 
    full-service commercial truck leasing, truck fleet maintenance, truck rentals, and used truck sales. The company currently employs 
    more than 36,000 workers worldwide and operates and maintains a fleet of more than 300,000 vehicles. Brian Hard is the president and 
    CEO of the company.

    Of note, Penske Truck Leasing has been investing in and expanding its fleet of commercial electric trucks[1] and adding electric truck 
    charging stations infrastructure to its locations.[2]
    
    In September 2017, General Electric sold the last of its stake in Penske for $674 million. The 15.5% stake was purchased by Penske
     and a subsidiary of Mitsui.[3]</p>

    <p id="paragraph"> <b>Penske Logistics</b> is a wholly owned subsidiary of Penske Truck Leasing that has operations in North America, South America,
         Europe, and Asia. Penske Logistics provides supply chain management and logistics services such as dedicated carriage, distribution
          center management, transportation management, lead logistics, supply chain consulting, and freight brokerage services.
           Penske Logistics had 2018 revenues of $2.3 billion and is ranked among the top 20 for-hire trucking companies by industry
            publication Transport Topics.[5] This subsidiary is also headquartered in Reading, Pennsylvania. Marc Althen is the president 
            of Penske Logistics.[6]

        </p>

</div>
<!-- 
<p> it will not print </p> -->



    <button class="appButton" (click)="printScreen()"  type="submit">Print</button>     <!-- normal window.print() -->
    
    <button class="appButton" ngxPrint  printSectionId="myprintId" styleSheetFile="assets/css/style.css"  printTitle="Penske Corporation" > Print via Ngx Library</button>

    <button class="appButton" (click)="generateQRCodeForScreen()" type="submit">Print via QR Code</button>
        
        <canvas  id="qr-code" > </canvas>
        