
.driver{
    font-size: 70px;
    margin-left: 260px;
    height: -100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}

.appButton{

    margin:0px;
   
    padding:4px ;
   
    width:150px;
   
    background-color: crimson;
    color:azure;
    border: 1px solid;
   
    cursor:pointer;
    margin-left: 0%;
    border-radius: 50px;
   
   
   }